* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
}

#p5 {
  width: 60%;
  height: 100%;
}

#sidebar {
  width: 40%;
  height: 100%;
}

#repl {
  height: 65%;
  overflow-y: scroll;
  padding: 1em;
  background-color: black;
  font-family: monospace;
  font-size: 12pt;
  color: white;
  cursor: text;
}

#settings {
  height: 35%;
  padding: 1em;
  background-color: #2a222d;
  color: white;
  font-size: 10pt;
}

#repl-form {
  display: flex;
  width: 100%;
}

#repl-form.inactive .prompt {
  display: none;
}

#repl-input {
  flex: 1;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.line {
  display: inline-block;
}

.prompt {
  color: #999;
}

.result-prompt {
  color: #6c6;
}

.code {
  white-space: pre-wrap;
}

.result {
  white-space: pre-wrap;
}

.error {
  white-space: pre-wrap;
  color: red;
}

.title {
  font-weight: bold;
}
